<!-- Kitchen and Plate, content shown to user! -->

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Packet Sniffer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Packet Sniffer Dashboard</h1>

        <form action="/" method="POST">

            <label for="filter">Choose a filter:</label>
            <select name="filter" id="filter">
                <option value="" {% if filter_val == '' %}selected{% endif %}>Sniff All Packets</option>
                <option value="icmp" {% if filter_val == 'icmp' %}selected{% endif %}>1. ICMP</option>
                <option value="udp" {% if filter_val == 'udp' %}selected{% endif %}>2. UDP</option>
                <option value="tcp port 80" {% if filter_val == 'tcp port 80' %}selected{% endif %}>3. HTTP (TCP Port 80)</option>
                <option value="udp port 53" {% if filter_val == 'udp port 53' %}selected{% endif %}>4. DNS (UDP Port 53)</option>
                <option value="tcp" {% if filter_val == 'tcp' %}selected{% endif %}>5. TCP</option>
            </select>
            <br /><br />

            <label for="count">Packet Count:</label>
            <input type="number" id="count" name="count" value="{{ count_val }}" required />
            <br /><br />

            <label for="timeout">Timeout (seconds):</label>
            <input type="number" id="timeout" name="timeout" value="{{ timeout_val }}" required />
            <br /><br />

            <button type="submit">Start Sniffing</button>
        </form>

        <hr />

        <h2>Results:</h2>

        {% if results %}
        <p>Sniffing complete! Found {{ results|length }} packets.</p>

        <table>
            <thead>
                <tr>
                    <th>Protocol</th>
                    <th>Source IP</th>
                    <th>Destination IP</th>
                    <th>Summary</th>
                </tr>
            </thead>

            <tbody>
                {% for packet in results %}
                <tr>
                    <td>{{ packet.proto}}</td>
                    <td>{{ packet.src }}</td>
                    <td>{{ packet.dst }}</td>
                    <td>{{ packet.summary}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No packets captured yet. Adjust settings and click "Start Sniffing".</p>

    {% endif %}

    </div>
</body>
</html>